body {
    background-color: #006699;
    font: 200% sans-serif;
    text-align: center;
}
h2 {
	color: white; 
}
h1 {
    color: white;
}
.cols {
    box-sizing: border-box;
}
.cols .col {
    display: inline-block;
    width: 48%;
    margin-right: 1.5%;
}
.cols .col:last-of-type {
    float: right;
    margin-right: 0;
}
.button {
    background-color: #94b8b8; /* Green */
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
input[type=text] {
	text-align: center;
    width: 28%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	font-size: 16px;
}
.list {
    list-style-type: square;
    color: white;

}